.picker {
  position: absolute;
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
  z-index: 2;
  margin-top: 15px;
  left: 0;
  right: 0;
  opacity: 1;
  transform: translateY(0);
  animation: appear .2s;
}
.picker::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 0;
  margin: 0 auto;
  bottom: 100%;
  border-bottom: 10px solid #333;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.picker.disappear {
  pointer-events: none;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity .2s, transform .2s;
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.date-controls {
  position: relative;
}
#date-selector {
  top: 100%;
}
#cancel-select-date {
  width: 100%;
  border: none;
}
#cancel-select-date:active {
  box-shadow: none;
}
#date-selector-month-year {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);
}
#date-selector-day-headings {
  display: flex;
  margin: 5px 0;
}
.date-selector-day-heading {
  display: inline-block;
  flex: 1 0 0;
}
#date-selector-days {
  overflow: auto;
  overflow: -moz-scrollbars-none; /* older Firefox */
  -ms-overflow-style: none; /* Microsoft browsers */
  scrollbar-width: none; /* newer Firefox */
  height: 144px;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
}
#date-selector-days:focus {
  outline: none;
}
.tab-focus #date-selector-days:focus {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
}
#date-selector-days::-webkit-scrollbar { /* Safari and Chrome */
  width: 0;
}
.date-selector-month {
  opacity: 0.3;
  transition: opacity .2s;
}
.date-selector-day {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
  width: 14.2857142%;
  text-align: center;
  position: relative;
}
.date-selector-no-school {
  color: rgba(255, 255, 255, 0.4);
}
.date-selector-selected::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.3);
  z-index: -1;
  pointer-events: none;
}
.date-selector-out-of-bounds {
  visibility: hidden;
}
.date-selector-month-selected {
  opacity: 1;
}
.date-selector-today {
  color: white;
  text-shadow: 0 0 3px white;
}
.date-selector-alternate {
  color: rgba(253, 227, 227, 0.8);
}
.date-selector-alternate.date-selector-no-school {
  color: rgba(253, 227, 227, 0.4);
}
.date-selector-alternate.date-selector-today {
  color: rgb(253, 227, 227);
  text-shadow: 0 0 3px rgb(253, 227, 227);
}
