.date-controls {
  position: relative;
}
#date-selector {
  top: 100%;
}
.date-selector-btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
#cancel-select-date {
  border: none;
}
#cancel-select-date:active {
  box-shadow: none;
}
.date-selector-month-wrapper {
  display: flex;
  align-items: center;
  margin: -5px;
  margin-bottom: 0;
}
#prev-month {
  background-image: url("../images/material/keyboard_arrow_left.svg");
}
#next-month {
  background-image: url("../images/material/keyboard_arrow_right.svg");
}
#date-selector-month-year {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  flex: auto;
}
#date-selector-day-headings {
  display: flex;
  margin: 5px 0;
}
.date-selector-day-heading {
  display: inline-block;
  flex: 1 0 0;
}
#date-selector-days {
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
}
#date-selector-days:focus {
  outline: none;
}
.tab-focus #date-selector-days:focus {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
}
.date-selector-week {
  display: flex;
}
.date-selector-day {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  position: relative;
  height: 24px;
  cursor: pointer;
  vertical-align: top;
  flex: 1 0 0;
}
.date-selector-no-school {
  color: rgba(255, 255, 255, 0.4);
}
.date-selector-selected::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.15);
  z-index: -1;
  pointer-events: none;
}
.date-selector-out-of-bounds {
  visibility: hidden;
}
.date-selector-today {
  color: white;
  text-shadow: 0 0 3px white;
}
.date-selector-alternate {
  color: rgba(253, 227, 227, 0.8);
}
.date-selector-alternate.date-selector-no-school {
  color: rgba(253, 227, 227, 0.4);
}
.date-selector-alternate.date-selector-today {
  color: rgb(253, 227, 227);
  text-shadow: 0 0 3px rgb(253, 227, 227);
}
