.events-message {
  text-align: center;
  display: block;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
.event {
  padding: 5px 0;
}
.event-name {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  display: block;
}
.event-info {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}
.event-location {
  display: block;
}
.event-description {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  font-family: 'Open Sans', sans-serif;
}
