.extension-title {
  display: flex;
  align-items: flex-start;
}
#extension-icon {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 2px;
}
#extension-name {
  flex: auto;
}
#extension-menu, #remove-extensions {
  background-image: url('../images/material/apps.svg');
  position: relative;
  top: -5px;
  margin-bottom: -50px; /* SUCC */
}
#extension-menu.add-ext {
  background-image: url('../images/material/add.svg');
}
#remove-extensions {
  background-image: url('../images/material/delete_outline.svg');
}
#remove-extensions.extension-removing {
  background-image: url('../images/material/check.svg');
  animation: pulse .5s cubic-bezier(0.5, 0, 0.5, 1) infinite alternate;
}
@keyframes pulse {
  from { background-color: rgba(255, 89, 89, 0.5); }
  to   { background-color: rgba(255, 89, 89, 0); }
}
.extension-menu {
  margin-right: -12px;
}
.extension-item {
  width: 62px;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 12px;
}
.extension-icon {
  width: 60px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .2s;
}
.extension-name {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  margin-top: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color .2s;
}
.extension-remove-mode .extension-icon {
  border-color: #ff5959;
  background-color: rgba(255, 89, 89, 0.2);
}
.extension-remove-mode .extension-name {
  color: rgba(255, 89, 89, 0.8);
}
.extension-remove-mode .extension-icon .ripple, #remove-extensions.extension-removing .ripple {
  background-color: rgba(255, 89, 89, 0.5);
}
#extension-list {
  left: 5%;
  margin-top: 0;
  right: 75px;
}
#extension-list::before {
  top: 25px;
  bottom: auto;
  left: 100%;
  right: auto;
  height: 0;
  border-left: 10px solid #333;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
#native-list {
  overflow: auto;
  max-height: 150px;
}
.button.native-ext {
  border: none;
  border-radius: 0;
  width: 100%;
  display: block;
  text-align: left;
  padding: 10px;
}
.button.native-ext:active {
  box-shadow: none;
}
.from-url-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
#extension-url {
  flex: auto;
  margin-top: 10px;
  max-width: 100%;
  box-sizing: border-box;
}
#extension-url-add {
  flex: none;
  margin-top: 10px;
  margin-left: 10px;
}
