html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0;
  color: rgba(255, 255, 255, 0.5);
  background-color: black;
  word-wrap: break-word;
  --background-transition-speed: 5s;
}
::selection {
  background-color: rgba(0, 188, 212, 0.4);
}
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
:disabled {
  opacity: 0.5;
  cursor: default !important; /* reee */
}
.center {
  text-align: center;
}
.hidden {
  display: none;
}
a, button, input, select, #date-selector-days {
  -webkit-tap-highlight-color: transparent;
}
.ripple {
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: -5px;
  pointer-events: none;
  transform-origin: center;
  background-color: rgba(255, 255, 255, 0.2);
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  pointer-events: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}
.transition-background {
  animation: fade-out var(--background-transition-speed) forwards;
}
@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

.picker {
  position: absolute;
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
  z-index: 2;
  margin-top: 15px;
  left: 0;
  right: 0;
  opacity: 1;
  transform: translateY(0);
  animation: appear .2s;
}
.picker::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 0;
  margin: 0 auto;
  bottom: 100%;
  border-bottom: 10px solid #333;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.picker.disappear {
  pointer-events: none;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity .2s, transform .2s;
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
