.period {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  margin: 10px 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  --colour: transparent;
  border-left: 5px solid var(--colour);
  position: relative;
}
.period.transparent {
  background-color: transparent;
  padding: 0;
}
.period .period-name {
  display: block;
  border: none;
  background: none;
  font: inherit;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  width: calc(100% - 10px);
  cursor: pointer;
  padding: 5px 10px;
  box-sizing: border-box;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.period.transparent .period-name {
  border-radius: 5px;
}
.period .period-name:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.period .period-name:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: auto;
}
.time, .duration {
  display: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  margin: 0 10px;
}
.show-time .time {
  display: block;
}
.show-duration .duration {
  display: block;
}
.note {
  position: absolute;
  font-size: 8px;
  top: 0;
  right: 0;
  margin: 5px;
  color: rgba(255, 255, 255, 0.3);
}
.period-chip {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  padding-right: 15px;
  border-radius: 1em;
  --colour: transparent;
  color: rgba(255, 255, 255, 0.9);
}
.period-chip::before {
  content: '';
  display: inline-block;
  height: 0.5em;
  width: 0.5em;
  background-color: var(--colour);
  border-radius: 50%;
  margin: 0.1em;
  margin-right: 10px;
}
.period-chip.transparent {
  background-color: transparent;
  padding: 0;
}
.period-chip.transparent::before {
  display: none;
}
.no-school {
  width: 100%;
  height: 250px;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  background-image: url('../images/temp-sheep.png');
  background-size: 150px;
  background-position: 50% 25%;
  background-repeat: no-repeat;
}
.no-school span {
  display: inline-block;
  margin-top: 150px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);
}
.colour-picker, #date-selector {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 5px;
}
.colour-picker:focus {
  outline: none;
}
.select-input {
  /* -webkit-appearance: none; */
  border: none;
  background: none;
  background-color: rgba(255, 255, 255, 0.1);
  font: inherit;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  cursor: pointer;
  border-radius: 2px;
  box-sizing: content-box;
}
input.select-input {
  width: 7.5ch;
}
.select-input:not(:disabled):hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.select-input:focus {
  outline: none;
  cursor: auto;
  background-color: rgba(255, 255, 255, 0.3);
}
.colour-picker input[type=checkbox] {
  margin-top: 7.5px;
  margin-right: 5px;
  margin-left: 15px;
}
#date-selector {
  padding: 10px;
  transform: translateY(-10px);
  z-index: 2;
}
#months, #cancel-select-date {
  margin-right: 10px;
}
#months {
  margin-bottom: 10px;
}
#date-input {
  width: 2.5ch;
  text-align: right;
}
#months, #date-input {
  vertical-align: top;
}
#week-preview {
  display: flex;
}
.week-preview-col {
  flex: 1 0 0;
  padding: 0 2px;
  cursor: pointer;
  border-radius: 5px;
}
.week-preview-col:focus {
  outline: none;
}
.tab-focus .week-preview-col:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}
.week-preview-today {
  background-color: rgba(255, 255, 255, 0.1);
}
.week-preview-day-heading, .week-preview-alternate {
  font-size: 12px;
  text-align: center;
  line-height: 12px;
  color: rgba(255, 255, 255, 0.6);
}
.week-preview-cell {
  display: block;
  height: 12px;
  margin: 4px 0;
  border-radius: 2px;
}
.week-preview-transparent {
  background-color: rgba(0, 0, 0, 0.1);
}
