#psa {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  animation: psa-shadow-appear .2s;
}
.blur-back #psa {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
#psa-wrapper {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  margin: 20px;
  max-height: 80%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
  animation: psa-appear .2s;
}
#psa-wrapper > h2 {
  margin-top: 0;
}
#psa-wrapper > p {
  text-align: right;
}
#psa-content {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.5;
}
#psa.hidden { display: none; }
#psa.disappear {
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s;
}
#psa.disappear #psa-wrapper {
  transform: scale(1.2);
  transition: transform .2s;
}
@keyframes psa-shadow-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes psa-appear {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
