.select-input {
  /* -webkit-appearance: none; */
  border: none;
  background: none;
  background-color: rgba(255, 255, 255, 0.1);
  font: inherit;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  box-sizing: content-box;
}
input.select-input {
  width: 7.5ch;
}
.select-input:not(:disabled):hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.select-input:focus {
  outline: none;
  cursor: auto;
  background-color: rgba(255, 255, 255, 0.3);
}

option {
  background-color: black;
}
