#week-preview {
  display: flex;
  justify-content: center;
}
.week-preview-col {
  padding: 7px 2px;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  width: 30px;
}
.week-preview-col:focus {
  outline: none;
}
.tab-focus .week-preview-col:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}
.week-preview-today {
  background-color: rgba(255, 255, 255, 0.2);
}
.week-preview-day-heading, .week-preview-alternate, .date-selector-day-heading {
  font-size: 12px;
  text-align: center;
  line-height: 12px;
  color: rgba(255, 255, 255, 0.6);
}
.week-preview-cell {
  display: block;
  height: 12px;
  margin: 4px 0;
  border-radius: 2px;
}
.week-preview-transparent {
  background-color: rgba(0, 0, 0, 0.1);
}
.week-preview-alternate {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}
.week-preview-is-alternate .week-preview-alternate {
  display: block;
}
