.list-wrapper {
  position: relative;
}
.list-item {
  display: none;
  padding: 5px 20px;
  cursor: pointer;
  position: absolute;
  width: auto;
  overflow: hidden;
  top: calc(var(--item-height) * var(--pos));
  left: -20px;
  right: -20px;
}
.list-visible {
  display: block;
}
.list-title, .list-subtext {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.5;
}
.list-title {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}
.list-subtext {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.list-details {
  position: absolute;
  top: calc(var(--item-height) * var(--pos));
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
  margin: -16px;
  border-radius: 10px;
  width: 100%;
  animation: appear .2s;
}
.list-details.disappear {
  pointer-events: none;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity .2s, transform .2s;
}
.list-detail-title {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Open Sans', sans-serif;
}
.list-detail {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 5px;
}
.list-close {
  margin-top: 10px;
}
.list-label {
  color: rgba(255, 255, 255, 0.85);
  margin-right: 5px;
}
.list-label::after {
  content: ': ';
}

.list-hidden {
  display: none;
}

.list-search {
  background-size: 16px;
  background-position: 5px center;
  background-repeat: no-repeat;
  padding-left: 25px;
  width: 100%;
  box-sizing: border-box;
}
.list-src {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
