.min-score-input-wrapper-wrapper {
  display: flex;
  align-items: center;
}
.min-score-label {
  flex: auto;
}
.min-score-input-wrapper {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  display: inline-block;
  flex: none;
}
.min-score-input {
  width: 6ch;
  text-align: right;
}
.min-score-emphasis {
  font-style: normal;
  color: white;
}
