.todo-item {
  display: flex;
}
.todo-icon {
  left: -10px;
}
.todo-add {
  background-image: url('../../images/material-add.svg');
}
.todo-remove {
  background-image: url('../../images/material-remove.svg');
}
.todo-content {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  background: none;
  font: inherit;
  color: rgba(255, 255, 255, 0.8);
  flex: auto;
  font-size: 16px;
}
.todo-content:focus {
  outline: none;
  color: white;
}
